@model MyWebsite.ViewModels.ProfileFormViewModel
@{
    ViewBag.Title = "IndexWorkSpecialist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-left: 20px">

    <h2>IndexWorkSpecialist</h2>


    <div class="col-lg-6 workexperience-dev">


        @foreach (var work in Model.WorkSpecialtises)
        {
            <div>

                <div>
                    <strong>Name: </strong>@work.Name<br />
                    <strong>Description: </strong>@work.Description<br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit ", "EditWorkSpecialist", new { id = work.Id })
                        @Html.ActionLink("Delete", "Delete", "Resumes", new { id = work.Id, actionName = "WorkSpecialtis" }, null)

                    }
                </div>
            </div><br /><hr />
        }
    </div>

</div>
