@model MyWebsite.ViewModels.ProfileFormViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- This div for page-loading wating-->
<div class="loading" align="center">
    <img src="~/images/loading-page.gif" alt="Loading, Please Wait..." />
</div>
<div class="index-container d-flex flex-column justify-content-center align-items-center">

    <div class="index-container-info">

        <h2><strong>I'm: </strong></h2>

        @foreach (var name in Model.WorkSpecialtises)
        {
            string n = name.Name;
            string comma = ", ";

            ViewBag.Name += n + comma;

        }
        <p><span class="typed" data-typed-items="@ViewBag.Name"></span> </p>

    </div>

</div>

