<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MyWebsite-20220515044249.mdf;Initial Catalog=aspnet-MyWebsite-20220515044249;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>